

.portfolioTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.workCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right:50px;
  justify-content: space-around;
}

.portfolioContainer {
  margin-left: 200px;
  margin-right: 200px;
  color:#515f67;
  
}

.PortfolioMain {
  background-color: ffffff;
}

