.item {
    height: 20px;
    min-width: 40px;
    max-width: 80px;
    padding: 2%;
    text-transform: uppercase ;
    margin-left: 10px;
    margin-right: 10px;
}

.item:hover {
    border: 2px solid lightblue;
    border-radius:2px;
    color: lightblue;
    padding: 2%;
}

