.mainFooter {
    height: 60px;
    background-size: 100% auto;
    background-color: #424d54;
    width: 100%;
    color: white;    
}


.containerFooter {
    margin-left: 200px;
    margin-right: 200px;
    height: 100%;
}
