.main {
    height: 300px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #62cffd;
    width: 100%;
    color: white;
    padding-top: 20px;
}

.container {
    margin-left: 200px;
    margin-right: 200px;
    height: 100%;
}