.mainFind {
    height: 400px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url('../camera.jpg') ;
    background-size: cover;
    width: 100%;
    color: white;
    padding-top: 20px;
    
}

div > img {
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
  }

.containerFind {
    margin-left: 200px;
    margin-right: 200px;
    height: 100%;
}


.white-circle {
    height: 80px;
    width: 80px;
    background-color: white;
    border-radius: 50%;
    margin: 15px;

}

.white-circle-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.logos {
    
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
       
}