.mainFind {
    height: 300px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url('../camera.jpg') ;
    background-size: cover;
    width: 100%;
    color: white;
    padding-top: 20px;
    
}

div > img {
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
  }

.containerFind {
    margin-left: 200px;
    margin-right: 200px;
    height: 100%;
}