.pageHeader h1 {
    color: green;
}

.nav p {
    color: red;
}

.TopNavMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    border: 2px solid red ;
    height: 100%;
    margin-left: 200px;
    margin-right: 200px;
    
}

.topNavMainContainer {
    width: 100%;
    height: 100px;
    background-color: #424d54;
    opacity: 0.7;
}

.logo {
    height: auto;
    padding-top: 40px;


}

