.card {
    min-width: 230px;
    min-height: 310px;
    max-width:150px;
    max-height: 300px;
    margin: 20px;
    border: 0.5px solid black;
}

.internalCard {
    height: 95%;
    padding: 1px;
}

